x-dtlqc-runner-base: &runner_base
  image: "qc-actions-runner:v0.0.1"
  restart: unless-stopped
  environment: &runner_env
    RUNNER_ORG_URL: "https://github.com/arceos-hypervisor"
    RUNNER_TOKEN: "ACBRNWMNTJJMJ2NAKZIL6SDJBLPQQ"
    RUNNER_GROUP: "Default"
    RUNNER_REMOVE_ON_STOP: "false"
    DISABLE_AUTO_UPDATE: "false"
    RUNNER_WORKDIR: ""
    HTTP_PROXY: "http://127.0.0.1:7890"
    HTTPS_PROXY: "http://127.0.0.1:7890"
    NO_PROXY: localhost,127.0.0.1,.internal
  network_mode: host
  privileged: true

services:
  # 普通 runner
  dtlqc-runner-1:
    <<: *runner_base
    container_name: "dtlqc-runner-1"
    command: ["/home/runner/run.sh"]
    devices:
      - /dev/loop-control:/dev/loop-control
      - /dev/loop0:/dev/loop0
      - /dev/loop1:/dev/loop1
      - /dev/loop2:/dev/loop2
      - /dev/loop3:/dev/loop3
      - /dev/kvm:/dev/kvm
    group_add:
      - kvm
    environment:
      <<: *runner_env
      RUNNER_NAME: "dtlqc-runner-1"
      RUNNER_LABELS: "intel"
    volumes:
      - dtlqc-runner-1-data:/home/runner
      - dtlqc-runner-1-udev-rules:/etc/udev/rules.d

  # phytiumpi 板子专用 runner
  dtlqc-runner-phytiumpi:
    <<: *runner_base
    container_name: "dtlqc-runner-phytiumpi"
    command: ["/home/runner/run.sh"]
    devices:
      - /dev/loop-control:/dev/loop-control
      - /dev/loop0:/dev/loop0
      - /dev/loop1:/dev/loop1
      - /dev/loop2:/dev/loop2
      - /dev/loop3:/dev/loop3
      - /dev/kvm:/dev/kvm
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1
    group_add:
      - kvm
      - dialout
    environment:
      <<: *runner_env
      RUNNER_NAME: "dtlqc-runner-phytiumpi"
      RUNNER_LABELS: "phytiumpi"
    volumes:
      - dtlqc-runner-phytiumpi-data:/home/runner
      - dtlqc-runner-phytiumpi-udev-rules:/etc/udev/rules.d

  # roc-rk3568-pc 板子专用 runner
  dtlqc-runner-roc-rk3568-pc:
    <<: *runner_base
    container_name: "dtlqc-runner-roc-rk3568-pc"
    command: ["/home/runner/run.sh"]
    devices:
      - /dev/loop-control:/dev/loop-control
      - /dev/loop0:/dev/loop0
      - /dev/loop1:/dev/loop1
      - /dev/loop2:/dev/loop2
      - /dev/loop3:/dev/loop3
      - /dev/kvm:/dev/kvm
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB2:/dev/ttyUSB2
    group_add:
      - kvm
      - dialout
    environment:
      <<: *runner_env
      RUNNER_NAME: "dtlqc-runner-roc-rk3568-pc"
      RUNNER_LABELS: "roc-rk3568-pc"
    volumes:
      - dtlqc-runner-roc-rk3568-pc-data:/home/runner
      - dtlqc-runner-roc-rk3568-pc-udev-rules:/etc/udev/rules.d

volumes:
  dtlqc-runner-1-data:
  dtlqc-runner-1-udev-rules:
  dtlqc-runner-phytiumpi-data:
  dtlqc-runner-phytiumpi-udev-rules:
  dtlqc-runner-roc-rk3568-pc-data:
  dtlqc-runner-roc-rk3568-pc-udev-rules:
